* {
    color: green;
}
/* li 태그에만 적용 */
li {
    color: blue;
}
/* li 태그 중 id 값이 special인 것 */
li#special {
    color: pink;
}
/* class가 red 인 것 */
.red {
    background-color: red;
}
