body{
    background-color: rgba(0, 0, 0, 0.745);
    color: rgba(255, 255, 255, 0.821)
}

div {
    width: 150px;
    height: 100px;
    background-color: gray;
    margin-bottom: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.47);
    left: 20px;
    top: 20px;
    position: static;
}

#relative {
    background-color: rgba(220, 20, 60, 0.603);
    left: 20px;
    top: 20px;
    position: relative;
}

#absolute {
    background-color: rgba(220, 20, 60, 0.603);
    left: 40px;
    top: 20px;
    position: absolute;
}

#fixed {
    background-color: rgba(220, 20, 60, 0.603);
    left: 200px;
    top: 20px;
    position: fixed;
}

#sticky {
    background-color: rgba(220, 20, 60, 0.603);
    left: 400spx;
    top: 20px;
    position: sticky;
}

